#Authentication .window {
	background: rgba(255, 255, 255, 0.3);
	padding: 20px;
	border-radius: 2px;
}

#Authentication label {
	cursor: default;
	color: #476786;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 2px;
	display: block;
	margin-left: 5px;
}

#Authentication input {
	font-size: 12px;
	line-height: 22px;
	width: 250px;
	padding: 0 5px;
}

#Authentication button[type=submit] {
	margin-top: 10px;
	font-size: 12px;
	padding: 5px 20px;
}

.full-stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	z-index:999;
}
.center-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}