#MetadataDialog .metadata-list {
	max-height: 135px;
	overflow-y: scroll;
}

#MetadataDialog .metadata-row {
	display: flex;
	display: -webkit-flex;
}

#MetadataDialog input.metadata-key,
#MetadataDialog input.metadata-value {
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

#MetadataDialog button.metadata-remove {
	width: 24px;
}

#MetadataDialog input.metadata-key,
#MetadataDialog input.metadata-value {
	margin: 2px;
	height: 24px;
	vertical-align: middle;
}
#MetadataDialog input {
	padding: 0 5px;
	border-radius: 4px;
	border: 1px solid #999;
	font-size: .7em;
	margin: 0 1px;
}

#MetadataDialog button.metadata-remove {
	background: url(../img/submenu_buttons.png);
	background-size: auto 70px;
	border: 0;
	background-position: -497px -7px;
	pointer-events: auto;
	padding: 6px;
}

#MetadataDialog .metadata-footer {
	margin-right: 24px;
	padding: 5px 0px;
}

#MetadataDialog .error-input {
	background-color: lightgoldenrodyellow;
	border-bottom: 1px red dotted;
}

#MetadataDialog .template {
	display: none;
}