/* GENERAL */
body {
    font-family: arial, sans-serif;
    background-color: #FBFBFB;
    background-image: url("../img/background.png");
    text-shadow: white 1px 1px 1px;
}
input:focus {
    outline: 0;
}
::-webkit-scrollbar {
    width: 12px;
    background: #ffffff;
}

::-webkit-scrollbar-track {
    border-left: 1px solid #F0F0F0;
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-left: 1px solid #F0F0F0;
    background: #EBEBEB;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

.loading {
    cursor: wait;
}

#center {
    position: absolute;
    top: 1%;
    bottom: 2%;
    right: 1%;
    left: 1%;
    border-left: 2px solid #d3d3d3;
    border-right: 2px solid #d3d3d3;
    /*border-radius: 5px;*/
    max-width: 700px;
    margin: 0 auto;
    cursor: default;
    z-index: 1;
    background: #FBFBFB;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#divider {
    /*border-radius: 5px;*/
    height: 100%;
    width: 100%;
    border-spacing: 0;
    position: relative;
}
/* HEADER */
#header {
    /*border-radius: 5px;*/
    height: 1px;
    padding: 0;
}
#header-divider {
    /*border-radius: 5px;*/
    width: 100%;
    background-image: -ms-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
    background-image: -moz-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
    background-image: -o-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8), color-stop(0.5, #ebebea), color-stop(1, #F8F8F8));
    background-image: -webkit-linear-gradient(top, #F8F8F8 0%,#ebebea 50%, #F8F8F8 100%);
    background-image: linear-gradient(to bottom, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
    background-color: silver;
}
.size34px {
    width: 34px;
    height: 34px;
}
#title {
    font-weight: bold;
    color: #272727;
}
.size32px {
    width: 32px;
    height: 32px;
}
.header-enabled-button {
    background-color: transparent;
    border: #d3d3d3 solid;
    border-radius: 5px;
    border-width: 0;
}
.header-enabled-button:hover {
    /*background-color: #f5f5f5;*/
    border-width: 1px;
}
.header-enabled-button:active {
    background-color: #dcdcdc;
    border-width: 1px;
}
.header-disabled-button {
    opacity: 0.5 !important;
    border-width: 0;
    background-color: transparent;
}
#back-button {
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-position: 5px 7px;
}
#add-button {
    background-image: url('../img/add.png');
    background-repeat: no-repeat;
    background-position: 6px 8px;
}
.add-menu {
    position: absolute;
    right: 43px;
    top: 35px;
    z-index: 1;
    background-color: gainsboro;
    padding: 1px;
    border-radius: 5px;
    border-top-right-radius: 0 !important;
}
.add-menu div {
    padding: 5px;
    border-radius: 2px;
}
.add-menu div img {
    margin-right: 1px;
}
.add-menu div:hover {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DCDCDC 50%, #FFFFFF 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DCDCDC 50%, #FFFFFF 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #DCDCDC 50%, #FFFFFF 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.5, #DCDCDC), color-stop(1, #FFFFFF));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DCDCDC 50%, #FFFFFF 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #DCDCDC 50%, #FFFFFF 100%);
}
.add-button-active {
    background-color: #dcdcdc;
    border-width: 1px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#save-button {
    background-image: url('../img/save.png');
    background-repeat: no-repeat;
    background-position: 6px 8px;
}
#new-tab-button {
    background-image: url('../img/new-tab.png');
    background-repeat: no-repeat;
    background-position: 6px 7px;
    opacity: 0.8;
}
#logout-button {
    background-image: url('../img/logout.png');
    background-repeat: no-repeat;
    background-position: 6px 7px;
}
#list-headers {
    height: 15px;
    background: #F8F8F8;
    font-size: small;
    font-weight: bold;
    color: gray;
    border-bottom: 1px solid #ebebea;
}
#list-headers div {
    display: inline-block;
}
#error-msg,
#errorMessage {
    padding: 8px;
    font-size: large;
    color: red;
}
#error-msg .reload,
#errorMessage .reload {
    cursor:pointer;
    text-decoration: underline;
    color: gray;
}




.dialog-bar {
    padding: 5px;
    text-shadow: none;
    color: white;
    -moz-user-select: auto;
}
.dialog-bar table {
    width: 100%;
    background-color: gray;
    padding: 2px;
}
.dialog-bar button {
    border: 0;
    border-radius: 2px;
    width: 100%;
    min-height: 30px;
    height: 100%;
    background-color: whiteSmoke;
    font-weight: bold;
    color: #5F5F5F;
    font-size: 12px;
    min-width: 50px;
}
.dialog-bar button:hover,
.upload-cancel-button:hover,
.execute-cancel-button:hover,
.start-upload-button:hover {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DCDCDC));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #DCDCDC 100%);
}
.dialog-bar button:active,
.upload-cancel-button:active
.execute-cancel-button:active,
.start-upload-button:active {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);

    /* Opera */
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #DCDCDC));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #FFFFFF 0%, #DCDCDC 100%);
}
.invalid-input {
    background-color: #ffffe0 !important;
    border-bottom: 2px #fa8072 dotted !important;
}
#metadata-dialog {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-user-select: auto;
}
#metadata-dialog td {
    width: 50%;
}
#metadata-dialog div {
    position: relative;
    height: 100%;
    vertical-align: middle;
    width: 100%;
    margin: 0;
}
#metadata-dialog input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1%;
    border: 0;
    width: 98%;
    content: "";
    background-color: transparent;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    height: 30px;
}
#metadata-dialog button {
    width: 50%;
}
.delete-metadata {
    cursor:default;
}
.delete-metadata:hover {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DCDCDC));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #DCDCDC 100%);

    color: #C50000;
}
.delete-metadata:active {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);

    /* Opera */
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #DCDCDC));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #FFFFFF 0%, #DCDCDC 100%);

    color: red;
}

#read-rights,
#write-rights {
    width: 98%;
    padding: 0 1%;
    border: 0;
}
.rights-button {
    width: 90px !important;
    height: 42px !important;
}
.rights-button:hover {
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DCDCDC));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #DCDCDC 100%);
}
.rights-button:active {
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #DCDCDC));
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #DCDCDC 100%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #DCDCDC 100%);
}


/* LIST */
#content {
    position: relative;
    padding: 0;
    vertical-align: top;
}
#scrollable {
    position: absolute;
    top: 0;
    bottom: -1px;
    right: 0;
    left: 0;
}
.scrollable {
    overflow-y: auto;
}
#list {
    background: #f8f8f8;
    /*border-bottom: 2px solid white;*/
}
#items {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.item {
    vertical-align: middle;
    border-bottom: 1px solid #ebebea;
}

.item-shared-error-file {
    border-bottom: 1px solid #ebebea;
}

.selected-item {
    background: lightgray;
    border-color: darkgray;
    text-shadow: gainsboro 0 2px 0;
}
.unselected-item {
    background: #f8f8f8;
}
.unselected-item:hover {
    background-color: #EFEFEF;
}

.item-text {
    display: inline;
}
.item-icon {
    width: 33px;
}
.item-icon img {
    vertical-align: bottom;
    margin: 3px;
}
.item-name {
    word-break:break-all;
}
.item-size, .item-modified, .item-files {
    font-size: small;
    min-width: 18px;
    /*max-width: 30px;*/
}
.item table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#no-containers,
#no-files,
#no-containers-found,
#no-files-found {
    padding: 8px;
}
#no-containers .create,#no-files .upload {
    text-decoration: underline;
    cursor: pointer;
}

#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    resize: none;
    width: 100%;
    height: 100%;
}
#editor:focus {
    outline: #dcdcdc 2px solid;
}




.progress_bar {
    font-size: 14px;
    clear: both;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
.progress_bar .loading {
    opacity: 1.0;
}
.progress_bar .progress-color {
    color: #463838;
    margin: 2px;
    background-color: lightgray;

    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center, circle farthest-corner, #D3D3D3 0%, #F0F0F0 25%, #D3D3D3 50%, #F0F0F0 75%, #D3D3D3 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, circle farthest-corner, #D3D3D3 0%, #F0F0F0 25%, #D3D3D3 50%, #F0F0F0 75%, #D3D3D3 100%);

    /* Opera */
    background-image: -o-radial-gradient(center, circle farthest-corner, #D3D3D3 0%, #F0F0F0 25%, #D3D3D3 50%, #F0F0F0 75%, #D3D3D3 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #D3D3D3), color-stop(0.25, #F0F0F0), color-stop(0.5, #D3D3D3), color-stop(0.75, #F0F0F0), color-stop(1, #D3D3D3));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #D3D3D3 0%, #F0F0F0 25%, #D3D3D3 50%, #F0F0F0 75%, #D3D3D3 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle farthest-corner at center, #D3D3D3 0%, #F0F0F0 25%, #D3D3D3 50%, #F0F0F0 75%, #D3D3D3 100%);

    width: 0;
    height: 40px;
    font-weight: bold;
}

.progress_bar .progress-color div {
    padding: 4px;
    vertical-align: top;
}
.uploading-file-name {
    margin: 5px 0;
    display: inline-block;
}
.progress-percent {
    margin: 5px 2px;
    display: inline-block;
}
.status {
    margin: 5px 0;
    display: inline-block;
}
.upload-cancel-button,
.execute-cancel-button,
.start-upload-button {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    background-color: #dcdcdc;
    font-weight: bold;
    color: #3f3f3f;
}



#toolbar {
    background-color: #ebebea;
}
#toolbar button {
    display: inline-block;
    height: 30px;
    padding-left: 23px;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-position: 5px 7px;
    border: solid 1px transparent;
    margin: 1px;
}
.enabled #toolbar button {
    background-color: #F3F3F3;
}
#toolbar button:nth-child(odd){
    display: none;
}
.enabled #toolbar button:hover {
    outline: #dcdcdc 2px solid;
    background-color: white;
    border: outset 1px;
}
.enabled #toolbar button:active {
    background-color: #d3d3d3;
    outline: transparent 2px solid;
    border: inset 1px;
}
.disabled #toolbar button {
    background-color: #CCC !important;
    opacity: 0.5 !important;
}

#toolbar-execute-button {
    background-image: url('../img/execute.png');
}
#toolbar-open-button {
    background-image: url('../img/arrowright.png');
    background-position: 5px 6px !important;
}
#toolbar-edit-button {
    background-image: url('../img/pencil.png');
}
#toolbar-board-button {
    background-image: url('../img/board.png');
}
#toolbar-download-button {
    background-image: url('../img/download.png');
    background-position: 5px 6px !important;
}
#toolbar-delete-button,
#toolbar-remove-button {
    background-image: url('../img/delete.png');
    background-position: 5px 6px !important;
}
#toolbar-copy-button {
    background-image: url('../img/copy.png');
}
#toolbar-metadata-button {
    background-image: url('../img/metadata.png');
    background-position: 5px 6px !important;
}
#toolbar-rights-button {
    background-image: url('../img/rights.png');
}
#toolbar-type-button {
    background-image: url('../img/file_type.png');
    background-position: 5px 5px !important;
}

.execute-report-part-name,
.billing-report-part-name {
    font-weight: bold;
    color: #A3A3A3;
    background: #535353;
    width: 50%;
}

.metadata-error {
    position: absolute;
    color: red;
    font-size: x-small;
    right: 0;
    font-weight: bold;
}

#nodes-billing td {
    width: 50%;
    font-size: small;
}