.blue-background {
	background: url(../img/cloud_left_top.png) left top,
	            url(../img/cloud_right_top.png) right top,
	            url(../img/cloud_left_bottom.png) left bottom,
	            url(../img/cloud_right_bottom.png) right bottom,
	            #B2C4D6;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.blue-button {
	background: #6a93bb;
	color: white;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
	border: 0;
	border-radius: 4px;
	outline: 0;
}

.blue-button:active {
	background: #a0a0a0;
	-webkit-box-shadow: inset 0 1px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0 1px 1px 2px rgba(0,0,0,0.25);
	outline: 0;
}

.blue-input {
	border: 1px solid #999;
	border-radius: 4px;
}

.blue-input:focus {
	-webkit-box-shadow: inset 0 0 6px rgba(30,110,193,0.9);
	box-shadow: inset 0 0 6px rgba(30,110,193,0.9);
	background: white;
	outline: 0;
}

.blue-form {
	vertical-align: middle;
	background: #e0e3e8;
	padding: 5px 5px 15px 5px;
	text-align: center;
	font-size: 18px;
	color: #476786;
	position: relative;
}

.blue-form .one-input {
	width: 100%;
	height: 24px;
	padding: 5px;
	margin: 0 0 5px;
	font-size: .7em;
}

.blue-form .two-inputs {

}

.blue-form .err {
	text-align: left;
	height: 35px;
	margin-left: 25px;
	line-height: 35px;
	font-size: medium;
}

.blue-form .err::before {
	position: absolute;
	left: 4px;
	background: url(../img/submenu_buttons.png);
	background-position: -1138px 0;
	background-size: auto 70px;
	height: 35px;
	width: 24px;
	border: none;
	content: "";
}

.blue-form .blue-button {
	width: 85px;
	height: 25px;
	font-size: 12px;
}