.index-container div.progress-bar-wrapper{
	height: auto;
}
.progress-bar{
	width: auto;
	height: 15px;
}
.progress-bar .ui-progressbar-value{
	width: 0;
	border: 1px solid rgb(163, 176, 193);
	background: rgba(163, 176, 193, 0.85);
	color: #fff;
	font-weight: bold;
}
