.index-container div.progress-bar-wrapper{
	height: auto;
}
.progress-bar{
	width: auto;
	height: 15px;
}
.progress-bar .ui-progressbar-value.ui-widget-content{
	width: 0;
	background: #5c727a;
	color: #fff;
	font-weight: bold;
}
.progress-bar-wrapper .ui-widget-content{
	background: #8f9ba0;
	color: #333333;
}