/* index */
body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	padding-top: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper{
	position: relative;
}
.index-container {
	float: right;
}
.index-container > div{
	display: block;
	height: 50px;
	position: relative;
}

.index-button {
	position: absolute;
	top: 2px;
	right: 1px;
	font-size: large;
	vertical-align: middle;
	margin: 0;
}
.index-button img {
	vertical-align: middle;
	margin-right: 10px;
}
.index-input {
	width: 420px;
	height: 100%;
	padding: 13px;
	font-size: large;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* search */

.search-container-wrapper{
	position: fixed;
	top: 30%;
	width: 100%;
}
.search-container{
	width: 45%;
	min-width: 300px;
	margin: 0 auto;
	position: relative;
}

.search-input {
	width: 100%;
	padding: 10px;
	font-size: large;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.invalid-input {
	background-color: #ffffe0 !important;
	border-bottom: 2px #fa8072 dotted !important;
}

.search-button {
	height: 30px;
	position: absolute;
	top: 10px;
	right: 9px;
}

.search-results {
	font-size: large;
	line-height: 25px;
	font-family: arial, serif;
	color: #555;
	padding: 3px;
	overflow-y: auto;
	max-height: 350px;
	border: 1px solid gainsboro;
}
.search-results > div{
	padding: 10px 0;
	position: relative;
}
.search-results a{
	text-decoration: underline;
	font-size: 16px;
}
.search-results .file-name,
.search-results a{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.search-results .file-name{
	color: #00802a;
	font-size: 14px;
	margin-bottom: -5px;
}
.search-results > div:nth-child(even){
	background: #f4f4f4;
}
.search-results > div:not(:first-child)::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,0.3);
}
.search-results img,
.search-results a {
	vertical-align: middle;
}
.search-results a {
	color: #1B2781;
	text-decoration: none;
}
.search-results a:visited {
	color: #511977;
}
.search-results strong{
	color: black;
	font-weight: bold;
}
.hide{
	opacity: 0 !important;
}
button.no-focus:focus{
	border: none;
	outline: none;
}
button::-moz-focus-inner{
	border: 0;
}
button, p, li{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}