html {
	transition: 5s all;
	-webkit-transition: 5s all;
	background-repeat: no-repeat;

	background-attachment: fixed;
	background-image: url('http://www.hdwallpapers.in/walls/small_sea_wave_hdtv_1080p-HD.jpg');
	/*
	background-color: #6b91b6;
	*/
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
	color: rgba(0, 0, 0, 0.7);
	transition: 1s all;
	-webkit-transition: 1s all;
}

pre {
	padding: 10px;
	margin: 0;
}

input[type=file] {
	border: 0;
	display: inline-block;
	opacity: 0!important;
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: relative;
	/*top: -50%;
	left: -50%;*/
}

.progresslabel {
	position: relative;
	right: -65px;
	top: 2px;
	font-size: small;
	font-family: Courier New, monospace;
	font-weight: bold;
}

.center {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}


.fixed-background {
	position: fixed;
	background: white;
	width: 800px;
	top: 0;
	bottom: 0;
	opacity: 0.1;
}

.fixed-top {
	position: fixed;
	z-index: 99;
}

#header {
	height: 42px;
}

#header .left {
	float: left;
	margin-left: 3px;
}

#header .right {
	float: right;
	margin-right: 5px;
	vertical-align: middle;
}
#header .right  * {
	vertical-align: middle;
}

#header button,
#header label {
	margin: 5px 0;
	vertical-align: middle;
}
#header .icon-button {
	background-color: transparent;
	width: 30px;
	height: 32px;
	border-radius: 5px;
	border: 0 solid rgba(0, 0, 0, 0.35);
}
span.icon-button {
	display: inline-block;
	background-repeat: no-repeat;
}
span.upload-files {
	/*background-image: url('img/upload.png');*/


	background-image: url(img/white_icon.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: auto 35px;

}
span.upload-as {
	/*background-image: url('img/upload-as.png');*/


	background-image: url(img/white_icon.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: auto 35px;
	background-position: -30px center;
}
span.upload-execute {
	/*background-image: url('img/execute.png');*/


	background-image: url(img/white_icon.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: auto 35px;
	background-position: -60px center;
}
#header .icon-button:disabled {
	opacity: 0.5;
}
#header .icon-button:enabled:hover {
	cursor: pointer;
}
#header .icon-button:enabled:active {
	background-color: rgba(0, 0, 0, 0.35);
	border-width: 1px;
	outline: 0;
}
#header .icon-button:focus {
	outline: 0;
}
button.up-button {
/*background: url('img/up.png') no-repeat 6px 8px;*/

	background-image: url('img/white_icon.png');
	background-repeat: no-repeat;
	background-size: auto 35px;
	background-position: -231px -3px;
}
.current-dir-label {
	/*font-weight: bold;*/
	color: white;
}
button.sign-out-button {
	background: #829fbd;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 20px;
	margin: 0;
	float: right;
}
.execute-button {
	background-image: url(img/white_icon.png);
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: auto 35px;
	background-position: -60px center;
}
.open-button {
	background: url('img/arrowright.png') no-repeat 7px 8px;
}
.wide-button {
	background: url('img/wide.png') no-repeat 7px 8px;
}
.unwide-button {
	background: url('img/wide.png') no-repeat 7px 8px;
	background-color: rgba(0, 0, 0, 0.35) !important;
	border-width: 1px !important;
}

.disabled .up-button,
.disabled .up-button:hover,
.disabled .up-button:active {
	opacity: 0.5 !important;
	border: none !important;
	background-color: transparent !important;
}

#content {
	padding-top: 40px;
}

.scrolling-content {
	position: absolute;
	width: 100%;
	margin: 0;
	background: rgba(255, 255, 255, 0.3);
	-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.item,
.load-more-button {
	display: -webkit-flex;
	display: flex;
	margin-bottom: 1px;
	font-size: small;
	height: 35px;
}

.load-more-button {
	font-size: 24px;
	padding: 3px 0;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	cursor: pointer;
}

.default-action {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.toggle-actions-menu {
	width: 20px;
	height: 35px;
	margin-left: 1px;
	background-image: url('img/menu.png');
	background-repeat: no-repeat;
	background-position: center;
}

.default-action * {
	vertical-align: middle;
	display: inline-block;
}

.default-action,
.toggle-actions-menu {
	background-color: rgba(248,248,248,0.6);
}

.default-action:hover,
.toggle-actions-menu:hover,
.load-more-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.item:active,
.load-more-button:active {
	background: rgba(220, 220, 220, 0.5);
	border-color: darkgray;
}

.item.clicked {
	background: rgba(220, 220, 220, 0.5);
	border-color: darkgray;
}

.item-loading{
	color: rgba(0, 0, 0, 0.35);
	position: absolute;
	font-size: 24px;
	left: 40%;
	padding-top: 3px;
}

.item:first-child {
	margin-top: 1px;
}

.item .left {
	padding: 2px;
}
.item .right {
	float: right;
	padding: 8px 0;
}
.item label.name {
	word-break: break-all;
	font-size: medium;
}
.item label.files {
	width: 55px;
}

.item label.size {
	width: 100px;
}

.item label.modified {
	width: 140px;
}

.item span.container-icon {
	background-image: url("img/container.png");
	width: 32px;
	height: 32px;
}
.item span.file-icon,
.item span.directory-icon {
	background-image: url("img/file_type.png");
	background-size: 1051px 35px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

.item span.file-icon.xsl {
	background-position: -3px center;
}

.item span.file-icon.xml {
	background-position: -36px center;
}

.item span.file-icon.doc {
	background-position: -68px center;
}

.item span.file-icon.rar {
	background-position: -103px center;
}

.item span.file-icon.txt {
	background-position: -136px center;
}

.item span.file-icon.pic {
	background-position: -169px center;
}

.item span.file-icon.pdf {
	background-position: -201px center;
}

.item span.file-icon.nexe {
	background-position: -235px center;
}

.item span.file-icon.ppt {
	background-position: -269px center;
}

.item span.file-icon.zip {
	background-position: -302px center;
}

.item span.file-icon.csv {
	background-position: -335px center;
}

.item span.file-icon.php {
	background-position: -369px center;
}

.item span.file-icon.py {
	background-position: -402px center;
}

.item span.file-icon.json {
	background-position: -434px center;
}

.item span.file-icon.lua {
	background-position: -467px center;
}

.item span.file-icon.video {
	background-position: -501px center;
}

.item span.file-icon.css {
	background-position: -533px center;
}

.item span.file-icon.audio {
	background-position: -566px center;
}

.item span.file-icon.none {
	background-position: -598px center;
}

.item span.file-icon.c {
	background-position: -633px center;
}

.item span.file-icon.java {
	background-position: -669px center;
}

.item span.file-icon.tar {
	background-position: -703px center;
}

.item span.file-icon.rtf {
	background-position: -736px center;
}

.item span.file-icon.md {
	background-position: -772px center;
}

.item span.file-icon.js {
	background-position: -806px center;
}

.item span.directory-icon {
	background-position: -885px center;
}

.empty-list {
	padding: 0 5px;
	line-height: 30px;
	display: block;
	background: rgba(255, 255, 255, 0.3);
}

.error {
	line-height: 30px !important;
	padding: 5px !important;
	font-size: small !important;
	background: lightcoral !important;
}
.error-reason {
	border: 1px solid black !important;
	border-radius: 5px !important;
	padding: 2px !important;
	background: white !important;
	color: black !important;
}
.error-reason:hover {
	background: #ff0000 !important;
	color: white !important;
	border-color: white !important;
}

.menu-files .div-button {
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	position: relative;
	background-color: rgba(0, 0, 0, 0.19);
	padding-top: 5px;
	font-size: 14px;
	font-family: arial;
}
.menu-files .div-button img {
	vertical-align: middle;
	margin-right: 5px;
}
.menu-files .div-button span {
	vertical-align: middle;
}


.dialog {
	transition: all 0.1s;
	vertical-align: middle;
	background: rgba(235,235,235,0.8);
	padding: 5px;
	text-align: center;
}

.menu-file {
	text-align: left !important;
	padding: 0 !important;
}

.menu-file button {
	height: 30px;
	padding-left: 24px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: 5px 6px;
	border: solid 1px transparent;
	margin: 1px;
	background-color: transparent;
	vertical-align: middle;
}

.menu-file .selected {
	background-color: rgba(0, 0, 0, 0.35);
}

.menu-file button:disabled {
	opacity: 0.3;
}

.menu-file button:enabled:hover {
	background-color: rgba(0, 0, 0, 0.35);
}
.menu-file button:enabled:active {
	background-color: rgba(0, 0, 0, 0.35);
}

.menu-file button.undo {
	background-image: url('img/undo.png');
}

.menu-file button.redo {
	background-image: url('img/redo.png');
}

.menu-file button.save {
	background-image: url('img/save.png');
}

.menu-file button.save-as {
	background-image: url('img/save.png');
}

.input-group-table {
	background: rgba(0, 0, 0, 0.14);
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	margin: 5px;
	border-collapse: collapse;
	height: 25px;
}

.input-group-table td,
.input-group-table td * {
	vertical-align: middle;
}

.input-group-table td:first-child {
	width: 1px;
}

.input-group-table td:last-child {
	width: 1px;
	color: #5E5E5E;
	cursor: default;
	padding: 0 5px;
}

.input-group-table td input {
	width: calc(100% - 4px);
	width: -webkit-calc(100% - 2px);
	height: 20px;
	border: 0;
	margin: 2px;
}

.input-group-table td img {
	padding: 0 3px;
}

.invalid-input {
	background-color: #ffffe0 !important;
	border-bottom: 2px #fa8072 dotted !important;
}

.item-menu table {
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	margin: 10px 5px;
	padding: 5px;
	background: rgba(220, 220, 220, 0.5);
	color: rgba(0, 0, 0, 0.35);
}

.metadata-table td {
	width: calc(50% - 5px);
	width: -webkit-calc(50% - 5px);
	padding: 0;
}

.metadata-table tr td:last-child {
	width: 15px;
	cursor: default;
	text-align: center;
	font-weight: bold;
}

.metadata-table input {
	width: calc(100% - 5px);
	width: -webkit-calc(100% - 5px);
	border: none;
	padding: 2px;
	margin: 0;
	height: 20px;
}

.metadata-save,
.metadata-discard-changes {
	width: 120px;
	height: 30px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.19);
	color: rgba(0, 0, 0, 0.52);
	font-weight: bold;
	margin: 1px;
	border: 0;
}

.metadata-save {
	float: right;
}

.err-msg {
	font-size: small;
	text-align: left;
}

#report {
	background-color: rgba(220, 220, 220, 0.5);
}

#report table {
	width: 100%;
}

#report button {
	width: 100%;
}

#report td {
	font-size: small;
}

.execute-full-button {
	height: 40px;
	border: 0;
	margin-bottom: 3px;
	background: #D3D3D3;
	cursor: pointer;
	text-decoration: underline;
}

.download-link {
	color: rgba(0, 0, 0, 0.35);
}

.save-as-dialog {
	background: rgba(0, 0, 0, 0.14);
	width: 100%;
	border-collapse: collapse;
	height: 25px;
	margin: 0;
}

.CodeMirror-gutters {
	background-color: rgba(247, 247, 247, 0.9) !important;
}

.CodeMirror {
	background: rgba(255, 255, 255, 0.8) !important;
}

.billing-report-table td {
	text-align: center;
	height: 35px;
}

#billing-tbody tr:nth-child(even) {
	background: rgba(255,255,255,0.5);
}

#billing-tbody tr:nth-child(odd) {
	background: rgba(184, 184, 184, 0.7);
}

#billing-tbody tr td:first-child {
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}

.execute-report-part-name,
#node-number-tr {
	font-weight: bold;
}

.auto-created-report-td {
	border: none !important;
}

template {
	display: none;
}

.blue-background {
	background: url(img/cloud_left_top.png) left top,
	url(img/cloud_right_top.png) right top,
	url(img/cloud_left_bottom.png) left bottom,
	url(img/cloud_right_bottom.png) right bottom,
	#B2C4D6;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#Authentication .window {
	background: rgba(255, 255, 255, 0.3);
	padding: 15px;
	border-radius: 2px;
	margin: 15px;
}

#Authentication label {
	cursor: default;
	color: #476786;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 2px;
	display: block;
	margin-left: 5px;
}

#Authentication input {
	font-size: 12px;
	line-height: 22px;
	width: 250px;
	padding: 0 5px;
	height: 25px;
}

#Authentication button {
	margin-top: 10px;
	font-size: 12px;
	padding: 5px 20px;
}

.blue-button {
	background: #6a93bb;
	color: white;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
	border: 0;
	border-radius: 4px;
	outline: 0;
}

.blue-button:active {
	background: #a0a0a0;
	-webkit-box-shadow: inset 0 1px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0 1px 1px 2px rgba(0,0,0,0.25);
	outline: 0;
}

.blue-input {
	border: 1px solid #999;
	border-radius: 4px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

.blue-input:focus {
	-webkit-box-shadow: inset 0 0 6px rgba(30,110,193,0.9);
	box-shadow: inset 0 0 6px rgba(30,110,193,0.9);
	background: white;
	outline: 0;
}

.blue-form {
	vertical-align: middle;
	background: #e0e3e8;
	padding: 5px 5px 15px 5px;
	text-align: center;
	font-size: 18px;
	color: #476786;
	position: relative;
}

.blue-form .one-input {
	width: 100%;
	height: 24px;
	padding: 5px;
	margin: 0 0 5px;
	font-size: .7em;
}

.blue-form .blue-button {
	width: 85px;
	height: 25px;
	font-size: 12px;
}

.blue-form .err {
	text-align: left;
	height: 35px;
	margin-left: 25px;
	line-height: 35px;
	font-size: medium;
}

.blue-form .err::before {
	position: absolute;
	left: 4px;
	background: url(img/submenu_buttons.png);
	background-position: -1138px 0;
	background-size: auto 70px;
	height: 35px;
	width: 24px;
	border: none;
	content: "";
}
.full-stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	z-index:999;
}
.center-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.template {
	display: none !important;
}

.actions-menu {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	margin-bottom: 1px;
}

.actions-menu button {
	margin: 0 1px 0 0;
	border: none;
	background-color: rgba(248,248,248,0.6);
	height: 35px;
	min-width: 100px;
}

.blue-form .one-label {
	display: block;
	padding: 10px;
}







button.create-container {
	/*background: url('img/plus.png') no-repeat 7px 8px;*/
	background-image: url('img/white_icon.png');
	background-repeat: no-repeat;
	background-size: auto 35px;
	background-position: -143px center;
}

/*
.metadata-form .metadata-row {
	display: flex;
	display: -webkit-flex;
}

.metadata-form input {
	flex-grow: 1;

	padding: 0 5px;
	border-radius: 4px;
	border: 1px solid #999;
	font-size: .7em;
	height: 24px;
	vertical-align: middle;
}*/

.metadata-form .metadata-list {
	max-height: 135px;
	overflow-y: scroll;
}

.metadata-form .metadata-row {
	display: flex;
	display: -webkit-flex;
}

.metadata-form input.metadata-key,
.metadata-form input.metadata-value {
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.metadata-form button.metadata-remove {
	width: 24px;
}

.metadata-form input.metadata-key,
.metadata-form input.metadata-value {
	margin: 2px;
	height: 24px;
	vertical-align: middle;
}
.metadata-form input {
	padding: 0 5px;
	border-radius: 4px;
	border: 1px solid #999;
	font-size: .7em;
	margin: 0 1px;
}

.metadata-form button.metadata-remove {
	background: url(img/submenu_buttons.png);
	background-size: auto 70px;
	border: 0;
	background-position: -497px -7px;
	pointer-events: auto;
	padding: 6px;
}

.metadata-form .metadata-footer {
	margin-right: 24px;
	padding: 5px 0px;
}

.metadata-form .error-input {
	background-color: lightgoldenrodyellow;
	border-bottom: 1px red dotted;
}

.metadata-form .template {
	display: none;
}

*[hidden] {
	display: none !important;
}

#Row1 {
	padding: 5px;
	background-color: #6a93bb;
	color: #cad7e4;
}

#header {
	background-color: #829fbd;
}

.logo {
	margin: 5px 0;
	font-weight: normal;
	display: inline-block;
	font-size: medium;
}

button.create-directory {
	background-image: url(img/white_icon.png);
	background-position: -114px center;
	background-repeat: no-repeat;
	background-size: auto 35px;
}
button.create-file {
	background-image: url(img/white_icon.png);
	background-position: -86px center;
	background-repeat: no-repeat;
	background-size: auto 35px;
}

form.create-file input {
	height: 24px;
	padding: 5px;
	margin: 0 1px 5px;
	font-size: .7em;
}

.blue-form span.full-size {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(224, 227, 232, 0.75);
	padding: 20px;
	box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
	font-weight: bold;
	font-size: large;
}

label.executing {
	color: white;
}