template {
	display: none;
}

/* index */

.index-container {
	float: right;
}

.index-button {
	position: absolute;
	top: 3px;
	right: 1px;
	font-size: large;
	vertical-align: middle;
}
.index-button img {
	vertical-align: middle;
	margin-right: 10px;
}
.index-input {
	width: 420px;
	padding: 13px;
	font-size: large;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* search */

.search-container-wrapper{
	position: fixed;
	top: 30%;
	width: 100%;
}
.search-container{
	width: 45%;
	min-width: 300px;
	margin: 0 auto;
	position: relative;
}

.search-input {
	width: 100%;
	padding: 10px;
	font-size: large;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.invalid-input {
	background-color: #ffffe0 !important;
	border-bottom: 2px #fa8072 dotted !important;
}

.search-button {
	height: 30px;
	position: absolute;
	top: 10px;
	right: 9px;
}

.search-results {
	font-size: large;
	line-height: 25px;
	font-family: arial, serif;
	padding: 3px;
	height: 100%;
	overflow-y: auto;
	max-height: 150px;
	border: 1px solid gainsboro;
}
.search-results > div{
	padding-bottom: 10px;
	position: relative;
}
.search-results > div:nth-child(even){
	background: #d3d3d3;
}
.search-results > div:not(:first-child)::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,0.3);
}

.search-results img,
.search-results a {
	vertical-align: middle;
}

.search-results a {
	color: #1B2781;
	text-decoration: none;
}

.search-results a:visited {
	color: #511977;
}

.hide{
	opacity: 0 !important;
}