.preferences{
	position: relative;
	float: left;
}
.preferences .show-preferences{
	border: none;
	outline: none;
	width: 36px;
	height: 36px;
	background: url(gear.png) center center no-repeat;
	background-size: 100% auto;
}
.preferences .preferences-list-wrapper{
	overflow: hidden;
	display: inline-block;
	position: absolute;
	left: 46px;
	top: 0;
}
.preferences .preferences-list{
	width: 140px;
	padding: 9px 0 0;
	margin: 0;
	transform: translate3d(0, -150%, 0);
	-moz-transform: translate3d(0, -150%, 0);
	-webkit-transform: translate3d(0, -150%, 0);
	transition: 155ms transform 0 ease-out;
	-moz-transition: -moz-transform 155ms ease-in-out 0ms;
	-webkit-transition: 155ms -webkit-transform 0ms ease-out;
}
.preferences.visible .preferences-list{
	transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transition-duration: 333ms;
	-moz-transition-duration: 333ms;
	-webkit-transition-duration: 333ms;
}
.preferences .preferences-list li{
	font-size: 14px;
	white-space: nowrap;
	list-style: none;
	position: relative;
	margin-bottom: 5px;
	text-align: right;
}
.preferences input{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	transform: translateZ(10px);
	-moz-transform: translateZ(10px);
	-webkit-transform: translateZ(10px);
	opacity: 0;
}
.preferences .input-slider-wrapper{
	width: 40px;
	height: 20px;
	border-radius: 10px;
	background: white;
	box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, 0.2);
	transition: 150ms background 0 ease-in-out;
	-moz-transition: background 150ms ease-in-out 0ms;
	-webkit-transition: 150ms background 0ms ease-in-out;
	position: absolute;
	left: 0;
	top: 0;
}
.preferences .input-slider{
	background: url(icon-onoff-ball.png);
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
}
.preferences .input-slider,
.preferences li span{
	transition: 150ms transform 0 ease-in-out;
	-moz-transition: -moz-transform 150ms ease-in-out 0ms;
	-webkit-transition: 150ms -webkit-transform 0ms ease-in-out;
}
.preferences li span{
	color: #d3d3d3;
	font-size: 16px;
	line-height: 16px;
	transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	vertical-align: middle;
}
.preferences li input:checked ~ span{
	color: black;
}
.preferences input:checked ~ .input-slider-wrapper .input-slider{
	transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
}
.preferences input:checked ~ .input-slider-wrapper{
	background: darkgray;
}