.file-selector *{
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.file-selector .tr{
	display: flex;
	padding-left: 20px;
	height: 60px;
	margin-bottom: 5px;
	background: #f4f5f6;
}
.file-selector .tr:hover{
	background: #e3e6e7;
}
.file-selector .td{
	display: flex;
	align-items: center;
	justify-content: center;
}
.file-selector .td.radio{
	height: 100%;
	width: 40px;
	background: #e8e8e6;
}
.file-selector .tr:hover .td.radio{
	background: #d7d9d8;
}
.file-selector .td.radio span{
	display: inline-block;
	width: 16px;
	height: 16px;
}
.file-selector .item{
	vertical-align: middle;
	border-bottom: 1px solid lightgrey;
}
.file-selector .item-shared-error-file{
	border-bottom: 1px solid #ebebea;
}
.file-selector .selected .td.radio span{
	background: #93b3cc;
}

.file-selector .item-text{
	display: inline;
}
.file-selector .item-icon{
	width: 33px;
}
.file-selector .item-icon img{
	vertical-align: bottom;
	margin: 3px;
}
.file-selector .item-name{
	word-break: break-all;
	justify-content: flex-start;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}
.file-selector .item-size,
.file-selector .item-modified,
.file-selector .item-files{
	font-size: 0.7em;
}
.file-selector .item-size{
	width: 75px;
	background: #eaebea;
}
.file-selector .tr:hover .item-size{
	background: #d8dedc;
}
.file-selector .item-modified{
	width: 95px;
}
.file-selector .back-button{
	width: 40px;
	height: 40px;
	background: url(up-brown.png) center center no-repeat;
	background-size: 34px auto;
	border: 0;
	vertical-align: middle;
	outline: 0;
}
.file-selector h2{
	display: inline-block;
	margin: 0 0 0 10px;
	vertical-align: middle;
	color: #ededed;
	font-size: 1.2em;
	line-height: 1.2em;
}

.popup-wrapper.file-selector .popup-box-wrapper{
	padding: 88px 0 75px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 85%;
	max-width: 735px;
	height: 100%;
	margin: 0 auto;
	position: static;
}
.popup-wrapper.file-selector .popup{
	padding: 3% 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
	position: static;
	background: transparent;
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.popup-wrapper.file-selector .button-wrapper,
.popup-wrapper.file-selector .popup::before{
	background: #93b3cc;
	border-radius: 8px;
	border: 2px solid #596e7a;
	-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
	z-index: 10;
}
.popup-wrapper.file-selector .popup::before{
	content: "";
	width: 100%;
	height: 30px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.popup-wrapper.file-selector .popup > div:first-child{
	min-height: 215px;
	padding-top: 7px;
	background: white;
	flex: 1;
	flex-direction: column;
	display: flex;
	width: 98%;
}
.popup-wrapper.file-selector .list-wrapper{
	width: 98%;
}
.popup-wrapper.file-selector .list-wrapper{
	border-top: none;
	width: 100%;
	height: 275px;
	min-height: 175px;
	overflow-y: auto;
	padding-bottom: 15px;
	flex: 1;
}
.popup-wrapper.file-selector .popup>.button-wrapper{
	width: 100%;
	height: 75px;
	padding: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup-wrapper.file-selector .button-wrapper .close-button{
	display: inline-block;
	margin: 0 32px;
	background: white;
	width: 90px;
	height: 33px;
	font-size: 1em;
	line-height: 1em;
	border: 2px solid #838a8e;
	border-radius: 8px;
}
.file-selector ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.header-wrapper{
	background: #8b99a5;
}
/*

.file-selector ::-webkit-scrollbar{
	width: 12px;
	background: #ffffff;
}

.file-selector ::-webkit-scrollbar-track{
	border-left: 1px solid #F0F0F0;
}
.file-selector ::-webkit-scrollbar-track:hover{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.file-selector ::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-left: 1px solid #F0F0F0;
	background: #EBEBEB;
}
.file-selector ::-webkit-scrollbar-thumb:hover{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
.file-selector ::-webkit-scrollbar-thumb:active{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}*/
