.file-selector *{
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.file-selector table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: -15px;
}
.file-selector td.radio{
	text-align: center;
	vertical-align: middle;
}
.file-selector td.radio span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #ebebea;
}
.file-selector .selected td.radio span{
	background: rgb(229, 151, 0);
}
.file-selector .item{
	vertical-align: middle;
	border-bottom: 1px solid lightgrey;
}
.file-selector .item-shared-error-file{
	border-bottom: 1px solid #ebebea;
}
.file-selector .selected{
	background: #F8EDDF;
}
.file-selector .unselected-item:hover{
	background-color: #EFEFEF;
}

.file-selector .item-text{
	display: inline;
}
.file-selector .item-icon{
	width: 33px;
}
.file-selector .item-icon img{
	vertical-align: bottom;
	margin: 3px;
}
.file-selector .item-name{
	word-break: break-all;
}
.file-selector .item-size,
.file-selector .item-modified,
.file-selector .item-files{
	font-size: small;
	min-width: 18px;
	/*max-width: 30px;*/
}
.file-selector .item table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.file-selector .top-wrapper{
	width: 100%;
	height: 50px;
	border: 1px solid rgb(229, 151, 0);
	border-bottom: 1px solid lightgrey;
}
.file-selector .back-button{
	width: 50px;
	height: 50px;
	background: url(up-brown.png) center center no-repeat;
	background-size: 34px auto;
	border: 0;
	vertical-align: middle;
	outline: 0;
}
.file-selector h2{
	display: inline-block;
	margin: 0 0 0 10px;
	vertical-align: middle;
}

.popup-wrapper.file-selector .popup-box-wrapper{
	width: 50%;
	height: auto;
	position: relative;
	left: 0;
	top: 0;
	margin: 13% auto;
	padding: 10px;
	border: 1px solid rgb(229, 151, 0);
	background: white;
	border-radius: 2px;
}
.popup-wrapper.file-selector .popup{
	width: 98%;
	min-height: 215px;
	height: auto;
	margin: 0 auto;
	position: static;
	box-shadow: none;
	border-radius: 2px;
}
.popup-wrapper.file-selector .table-wrapper{
	border: 1px solid rgb(229, 151, 0);
	border-top: none;
	width: 100%;
	height: 275px;
	min-height: 175px;
	overflow-y: auto;
	padding-bottom: 15px;
}
.popup-wrapper.file-selector .popup>.button-wrapper{
	text-align: center;
	width: auto;
	height: auto;
	border: none;
	padding: 0;
}
.popup-wrapper.file-selector .button-wrapper .close-button{
	display: inline-block;
	margin: 15px 20px 0;
}

.file-selector ::-webkit-scrollbar{
	width: 12px;
	background: #ffffff;
}

.file-selector ::-webkit-scrollbar-track{
	border-left: 1px solid #F0F0F0;
}
.file-selector ::-webkit-scrollbar-track:hover{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.file-selector ::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-left: 1px solid #F0F0F0;
	background: #EBEBEB;
}
.file-selector ::-webkit-scrollbar-thumb:hover{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
.file-selector ::-webkit-scrollbar-thumb:active{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}