html {
    height: 100%;
}

body {
    margin: 0;
    font-family: arial;
    background: white;
    height: 100%;
}

/*
.tabs {
    margin: 0;
}

.tabs li {
    border-top: #d3d3d3 2px solid;
    border-right: #d3d3d3 2px solid;
    border-left: #d3d3d3 2px solid;
    background: #C9D0D6;
    display: inline;
    padding: 5px 50px;
    margin-right: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.tabs .selected-tab {
    border-top: #d3d3d3 2px solid;
    border-right: #d3d3d3 2px solid;
    border-left: #d3d3d3 2px solid;
    background: #788494;
    color: white;
    font-weight: bold;
    cursor: default;
}
*/

.board {
    position: relative;
    width: 100%;
    min-height: 450px;
    height: 100%;
    background:  #788494;
    /*border-radius: 5px;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    padding: 4px 1px 1px 1px;*/
}

.json-tab {
    position: relative;
    width: 100%;
    background: #788494;
    border-radius: 5px;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    padding: 4px 1px 1px 1px;
    display: none;
}

.json-tab textarea {
    margin: 10px;
    resize:none;
    font-size: larger;
}

.board .item {
    width: 100px;
}

.board .item img {
    width: 100%;
}

.window {
    position: absolute;
    background: #BFC4CE;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 99;
}

.window  .window-body {
    margin:0 20px 20px 20px;
}

.window .title {
    color: black;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    font-size: x-large;
    display: block;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.toolbox-window .window-body {
    width: 100px;
}

.toolbox-window .item img {
    width: 100%;
}

.json-window .json-input {
    width: 350px;
    height: 100px;
    font-size: large;
}

.json-window .render {
    position: absolute;
    right: 25px;
    bottom: 30px;
    display: none;
}

.properties-window {
    display: none;
}

.properties-window .window-body {
    width: 250px;
}

.properties-window .window-body .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-family: courier new,serif;
}

.properties-window .node .form,
.properties-window .file .form {
    background: #DDE2E6;
    border-radius: 5px;
    padding: 5px;
}
.properties-window .node input {
    width: 95%;
}

.properties-window .node table {
    width: 100%;
}
.properties-window .button-area {
    text-align: center;
}
.properties-window .node button {
    width: 100px;
    height: 25px;
}

.properties-window .node td:nth-child(odd) {
    text-align: right;
    width: 40%;
}

.properties-window .file .device,
.properties-window .file input {
    width: 98%;
    font-size: medium;
}

.properties-window .toggle-view {
    float: right;
    font-size: small;
}
.properties-window .toggle-view-text {
    color: blue;
    cursor: pointer;
}
.properties-window .new-exe-env td,
.properties-window .new-exe-env td:nth-child(odd) {
    text-align: left;
    width: 48%;
    padding: 0;
    margin: 0;
}
.properties-window .new-exe-env label {
    font-size: small;
    vertical-align: bottom;
}
.properties-window .list-exe-env {
    display: none;
}
.properties-window .list-exe-env table {
    width: 100%;
}
.properties-window .list-exe-env td,
.properties-window .list-exe-env td:nth-child(odd) {
    width: 48%;
    text-align: left;
    border: white solid 1px;
    padding: 1px;
    max-width: 100px;
    overflow-x: auto;
}

.properties-window .list-exe-env .remove-env {
    width: 7px;
    cursor: pointer;
    font-family: courier new,serif;
}
.error-alert {
    width: 300px;
    background: #FF3333;
    font-size: large;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    z-index: 101;
    display: none;
}

.sample-node,
.sample-node-group,
.sample-file {
    display: none;
}

.sample-node,
.sample-node-group,
.board .node-obj,
.board .node-group-obj,
.sample-file,
.board .file-obj {
    width: 150px;
    height: 100px;
    background: #d3d3d3;
    outline-offset: 5px;
    border: 1px solid #788494;
}

.sample-node,
.board .node-obj {
    border-radius: 10px;
}

.sample-node-group,
.board .node-group-obj {
    border-radius: 10px;
    border-top: 6px double #788494;
}
.sample-file,
.board .file-obj {
    width: 180px;
    height: 80px;
}

.sample-node .name,
.sample-node-group .name,
.board .node-obj .name,
.board .node-group-obj .name {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 75px;
    font-size: medium;
    border: none;
    background: transparent;
}
.sample-file .device,
.board .file-obj .device {
    border: none;
    background: transparent;
    position: absolute;
    top: 35px;
    left: 10px;
    width: 100px;
    font-size: medium;
    -webkit-appearance: none;
    -moz-appearance: window;
}
.sample-file .device:hover,
.board .file-obj .device:hover {
    background: #DDE2E6;
}

.node-exec-path {
    position: absolute;
    border: 0px;
    left: 10px;
    background: transparent;
    font-size: medium;
    top: 40px;
    width: 130px;
    cursor: default;
}
.sample-file .path,
.board .file-obj .path {
    position: absolute;
    top: 35px;
    left: 70px;
    width: 98px;
    border: none;
    font-size: medium;
    background: #DDE2E6;
}
.sample-node .edit,
.sample-node-group .edit,
.board .node-obj .edit,
.board .node-group-obj .edit {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 25px;
    border: none;
    background: transparent;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}
.top-border {
    top: 2px;
    border-color: #788494;
    border-style: solid;
    position: absolute;
    left: 0px;
    right: 1px;
    border-radius: 10px;
    height: 10px;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-width: 2px;
    display: none;
}
.sample-file .edit,
.board .file-obj .edit {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    border: none;
    background: transparent;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}
.sample-node .ep,
.sample-node-group .ep,
.board .node-obj .ep,
.board .node-group-obj .ep  {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 1em;
    height: 1em;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #788494;
}
.sample-file .ep,
.board .file-obj .ep {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 1em;
    height: 1em;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #788494;
}
.sample-node .ep:hover,
.sample-node-group .ep:hover,
.board .node-obj .ep:hover,
.board .node-group-obj .ep:hover,
.sample-file .ep:hover,
.board .file-obj .ep:hover {
    background-color: white;
}

.sample-required-field {
    float:right;
    margin-bottom: 20px;
    margin-left:11px;
    background-color: tomato;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px red;
    position:relative;
    z-index:1;
    display:none;
}
.sample-required-field .triangle {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 10px solid tomato;
    margin-left: -9px;
    z-index: 3;
}

.sample-required-field .content{
    padding:10px;
}

.page-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: white;
    z-index:100;
    display: none;
}

._jsPlumb_overlay  {
    z-index: 1;
}