body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-image: url('img/background.png');
	overflow-x: hidden;
	overflow-y: scroll;
	color: #1B1B1B;
}

pre {
	padding: 10px;
	margin: 0;
}

input[type=file] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
}

.progresslabel {
	font-family: "Arial";
	position: relative;
	left: -60px;
	top: 2px;
	font-size: small;
}

.center {
	position: relative;
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
}

.fixed-background {
	position: fixed;
	background: white;
	width: 750px;
	top: 0;
	bottom: 0;
}

.fixed-background-left {
	position: fixed;
	background-image: url('img/background.png');
	width: 750px;
	height: 100%;
	margin-left: -750px;
	z-index: 999;
}

.fixed-background-right {
	position: fixed;
	background-image: url('img/background.png');
	width: 750px;
	height: 100%;
	margin-left: 750px;
	z-index: 999;
}

.fixed-top {
	position: fixed;
	z-index: 99;
}

#header {
	opacity: 0.9;
	height: 42px;
	background-color: silver;
	background-image: -ms-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
	background-image: -moz-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
	background-image: -o-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8), color-stop(0.5, #ebebea), color-stop(1, #F8F8F8));
	background-image: -webkit-linear-gradient(top, #F8F8F8 0%,#ebebea 50%, #F8F8F8 100%);
	background-image: linear-gradient(to bottom, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
}

#header .left {
	float: left;
	margin-left: 3px;
}

#header .right {
	float: right;
	margin-right: 5px;
}

#header button,
#header label {
	margin: 5px 0;
	vertical-align: middle;
}
#header .icon-button {
	background-color: transparent;
	width: 32px;
	height: 32px;
	border-radius: 5px;
	border: 0 solid #d3d3d3;
}
#header .icon-button:disabled {
	opacity: 0.5;
}
#header .icon-button:enabled:hover {
	border-width: 1px;
}
#header .icon-button:enabled:active {
	background-color: #dcdcdc;
	border-width: 1px;
}

.back-button {
	background: url('img/back.png') no-repeat 6px 8px;
}
.current-dir-label {
	font-weight: bold;
	text-shadow: rgb(255, 255, 255) 1px 1px 1px;
}
.sign-out-button {
	background: url('img/logout.png') no-repeat 7px 8px;
}
.edit-button {
	background: url('img/pencil.png') no-repeat 7px 8px;
}
.done-button {
	background: url('img/done.png') no-repeat 7px 8px;
}
.execute-button {
	background: url('img/execute.png') no-repeat 7px 8px;
}
.open-button {
	background: url('img/arrowright.png') no-repeat 7px 8px;
}

.disabled .back-button,
.disabled .edit-button,
.disabled .back-button:hover,
.disabled .edit-button:hover,
.disabled .back-button:active,
.disabled .edit-button:active {
	opacity: 0.5 !important;
	border: none !important;
	background-color: transparent !important;
}

#content {
	padding-top: 40px;
}

.scrolling-content {
	position: absolute;
	width: 100%;
	margin: 0;
	opacity: 1;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
}

.left-scrolling-content {
	margin-left: -100% !important;
}

.right-scrolling-content {
	margin-left: 100% !important;
}

.no-transition {
	transition: none !important;
	-webkit-transition: none !important;
}

.item,
.load-more-button {
	border-bottom: 1px solid #ebebea;
	font-size: small;
	height: 35px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	text-align: center;
	background-color: #f8f8f8;
}

.load-more-button {
	font-size: 24px;
	padding: 3px 0;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	cursor: pointer;
}


.item:hover,
.load-more-button:hover {
	background-color: #EFEFEF;
}

.item:active,
.load-more-button:active {
	background: lightgray;
	border-color: darkgray;
	text-shadow: gainsboro 0 2px 0;
}

.item.clicked {
	background: lightgray;
	border-color: darkgray;
	text-shadow: none;
}

.item-loading	{
	color: gray;
	position: absolute;
	font-size: 24px;
	left: 40%;
	padding-top: 3px;
	background: lightgray;
}

.item * {
	vertical-align: middle;
	display: inline-block;
}

.item .left {
	float: left;
}
.item .right {
	padding: 8px 0;
	position: absolute;
	right: 6px;
}
.item label.name {
	word-break: break-all;
	font-size: medium;
}
.item label.files {
	width: 55px;
}

.item label.size {
	width: 100px;
}

.item label.modified {
	width: 140px;
}

.view-mode .item label.delete {
	display: none;
}

.edit-mode .item label.delete {
	width: 15px;
	z-index: 999;
	border: 1px solid;
	border-radius: 10px;
	background-color: #ebebea;
	padding: 2px;
}

.empty-list {
	padding: 0 5px;
	line-height: 30px;
	display: block;
	background: lightgray;
}

.error {
	line-height: 30px !important;
	padding: 5px !important;
	font-size: small !important;
	background: lightcoral !important;
}
.error-reason {
	border: 1px solid black !important;
	border-radius: 5px !important;
	padding: 2px !important;
	background: white !important;
	color: black !important;
}
.error-reason:hover {
	background: #ff0000 !important;
	color: white !important;
	border-color: white !important;
}

.menu-files .div-button,
.menu-containers .div-button {
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	position: relative;
	background-color: gainsboro;
	border-radius: 3px;
	padding-top: 5px;
	font-size: 14px;
	font-family: arial;
}
.menu-files .div-button img,
.menu-containers .div-button img {
	vertical-align: middle;
	margin-right: 5px;
}
.menu-files .div-button span,
.menu-containers .div-button span {
	vertical-align: middle;
}

.item-menu {
	background-color: #ebebea;
	border: 1px solid lightgray;
}

.item-menu menu button,
.item-confirm-delete button {
	height: 30px;
	padding-left: 23px;
	padding-right: 5px;
	background: #F3F3F3 no-repeat 5px 7px;
	border: solid 1px transparent;
	margin: 1px;
}

.item-menu menu button:hover,
.item-confirm-delete button:hover {
	outline: #dcdcdc 2px solid;
	background-color: white;
	border: outset 1px;
}
.item-menu menu button:active,
.item-confirm-delete button:active {
	background-color: #d3d3d3;
	outline: none;
	border: inset 1px;
}

.item-menu .execute-button {
	background-image: url('../img/execute.png');
}
.item-menu .open-button {
	background-image: url('../img/arrowright.png');
	background-position: 5px 6px !important;
}
.item-menu .edit-button {
	background-image: url('../img/pencil.png');
}
.item-menu .board-button {
	background-image: url('../img/board.png');
}
.item-menu .download-button {
	background-image: url('../img/download.png');
	background-position: 5px 6px !important;
}
.item-menu .delete-button,
.item-menu .remove-button {
	background-image: url('../img/delete.png');
	background-position: 5px 6px !important;
}
.item-menu .copy-button {
	background-image: url('../img/copy.png');
}
.item-menu .metadata-button {
	background-image: url('../img/metadata.png');
	background-position: 5px 6px !important;
}
.item-menu .rights-button {
	background-image: url('../img/rights.png');
}
.item-menu .type-button {
	background-image: url('../img/file_type.png');
	background-position: 5px 5px !important;
}

.item-confirm-delete {
	height: 32px;
	background-color: #ebebea;
	border: 1px solid lightgray;
}

.item-confirm-delete button {
	background-image: url('img/delete.png');
	background-position: 5px 6px !important;
}


.dialog {
	opacity: 0.95;
	transition: all 0.8s;
	vertical-align: middle;
	background: #EBEBEA;
	border: 1px solid lightgray;
	padding: 5px;
	text-align: center;
}

.menu-file {
	text-align: left !important;
	padding: 0 !important;
}

.menu-file button {
	display: inline-block;
	height: 30px;
	padding-left: 24px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: 5px 6px;
	border: solid 1px transparent;
	margin: 1px;
	background-color: transparent;
	vertical-align: middle;
}

.menu-file .selected {
	background-color: #D3D3D3;
}

.menu-file button:disabled {
	opacity: 0.3;
}

.menu-file button:enabled:hover {
	background-color: gainsboro;
}
.menu-file button:enabled:active {
	background-color: gray;
}

.menu-file button.undo {
	background-image: url('img/undo.png');
}

.menu-file button.redo {
	background-image: url('img/redo.png');
}

.menu-file button.save {
	background-image: url('img/save.png');
}

.menu-file button.save-as {
	background-image: url('img/save.png');
}

.input-group-table {
	background: gainsboro;
	border-radius: 5px;
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	margin: 5px;
	border-collapse: collapse;
	height: 25px;
}

.input-group-table td,
.input-group-table td * {
	vertical-align: middle;
}

.input-group-table td:first-child {
	width: 1px;
}

.input-group-table td:last-child {
	width: 1px;
	color: #5E5E5E;
	cursor: default;
	padding: 0 5px;
}

.input-group-table td input {
	width: calc(100% - 4px);
	width: -webkit-calc(100% - 4px);
	margin: 0;
	height: 100%;
}

.input-group-table td img {
	padding: 0 3px;
}

.invalid-input {
	background-color: #ffffe0 !important;
	border-bottom: 2px #fa8072 dotted !important;
}

.metadata-table,
.content-type-table {
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	margin: 10px 5px;
	padding: 5px;
	background: gainsboro;
	color: gray;
	border-radius: 5px;
	border: 1px rgb(206, 206, 206) solid;
}

.metadata-table td {
	width: calc(50% - 5px);
	width: -webkit-calc(50% - 5px);
	padding: 0;
}

.metadata-table tr td:last-child {
	width: 10px;
	cursor: default;
}

.metadata-table input {
	width: calc(100% - 5px);
	width: -webkit-calc(100% - 5px);
	border: none;
	padding: 2px;
	margin: 0;
	height: 20px;
	border-radius: 1px;
}

.metadata-save,
.metadata-discard-changes {
	width: 120px;
	height: 30px;
	padding: 5px;
	background: #FFFFFF;
	border-radius: 5px;
	color: gray;
	font-weight: bold;
	margin: 1px;
	border: 1px solid rgb(197, 197, 197);
}

.metadata-save {
	float: right;
}

.err-msg {
	font-size: small;
	text-align: left;
}

#report {
	background-color: gainsboro;
}

#report table {
	width: 100%;
}

#report button {
	width: 100%;
}

#report td {
	width: 50%;
	font-size: small;
}

.execute-full-button {
	height: 40px;
	border: 0;
	margin-bottom: 3px;
	background: #D3D3D3;
	cursor: pointer;
	text-decoration: underline;
}

template {
	display: none;
}