#tt {
    position:absolute;
    display:block;
}
#tttop {
    display:block;
    margin-left:5px;
    overflow:hidden;
}
#ttcont {
    display:block;
    padding:2px 12px 3px 7px;
    margin-left:5px;
    background:#666;
    color:#fff;
    border-radius: 10px;
}
#ttbot {
    display:block;
    height:5px;
    margin-left:5px;
    overflow:hidden;
}