html {
	transition: 5s all;
	-webkit-transition: 5s all;
	background-repeat: no-repeat;

	background-attachment: fixed;
	background-image: url('http://www.hdwallpapers.in/walls/small_sea_wave_hdtv_1080p-HD.jpg');
	/*
	background-color: #6b91b6;
	*/
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
	color: rgba(0, 0, 0, 0.7);
	transition: 1s all;
	-webkit-transition: 1s all;
}

pre {
	padding: 10px;
	margin: 0;
}

input[type=file] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
}

.progresslabel {
	position: relative;
	right: -65px;
	top: 2px;
	font-size: small;
	font-family: Courier New, monospace;
	font-weight: bold;
}

.center {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}


.fixed-background {
	position: fixed;
	background: white;
	width: 800px;
	top: 0;
	bottom: 0;
	opacity: 0.1;
}

.fixed-top {
	position: fixed;
	z-index: 99;
}

#header {
	height: 42px;
	background-color: rgba(255,255,255,0.8);
	/*
	background-image: -ms-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
	background-image: -moz-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
	background-image: -o-linear-gradient(top, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8), color-stop(0.5, #ebebea), color-stop(1, #F8F8F8));
	background-image: -webkit-linear-gradient(top, #F8F8F8 0%,#ebebea 50%, #F8F8F8 100%);
	background-image: linear-gradient(to bottom, #F8F8F8 0%, #ebebea 50%, #F8F8F8 100%);
	*/
}

#header .left {
	float: left;
	margin-left: 3px;
}

#header .right {
	float: right;
	margin-right: 5px;
}

#header button,
#header label {
	margin: 5px 0;
	vertical-align: middle;
}
#header .icon-button {
	background-color: transparent;
	width: 32px;
	height: 32px;
	border-radius: 5px;
	border: 0 solid rgba(0, 0, 0, 0.35);
}
#header .icon-button:disabled {
	opacity: 0.5;
}
#header .icon-button:enabled:hover {
	border-width: 1px;
}
#header .icon-button:enabled:active {
	background-color: rgba(0, 0, 0, 0.35);
	border-width: 1px;
	outline: 0;
}
#header .icon-button:focus {
	outline: 0;
}
.up-button {
	background: url('img/back.png') no-repeat 6px 8px;
}
.current-dir-label {
	font-weight: bold;
}
.sign-out-button {
	background: url('img/logout.png') no-repeat 7px 8px;
}
.edit-button {
	background: url('img/pencil.png') no-repeat 7px 8px;
}
.done-button {
	background: url('img/pencil.png') no-repeat 7px 8px;
	background-color: rgba(0, 0, 0, 0.35) !important;
	border-width: 1px !important;
}
.execute-button {
	background: url('img/execute.png') no-repeat 7px 8px;
}
.open-button {
	background: url('img/arrowright.png') no-repeat 7px 8px;
}
.wide-button {
	background: url('img/wide.png') no-repeat 7px 8px;
}
.unwide-button {
	background: url('img/wide.png') no-repeat 7px 8px;
	background-color: rgba(0, 0, 0, 0.35) !important;
	border-width: 1px !important;
}

.disabled .up-button,
.disabled .edit-button,
.disabled .up-button:hover,
.disabled .edit-button:hover,
.disabled .up-button:active,
.disabled .edit-button:active {
	opacity: 0.5 !important;
	border: none !important;
	background-color: transparent !important;
}

#content {
	padding-top: 40px;
}

.scrolling-content {
	position: absolute;
	width: 100%;
	margin: 0;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	background: rgba(255, 255, 255, 0.3);
}

.new-scrolling-content {
	opacity: 0;
}

.old-scrolling-content {
	opacity: 0;
}

.no-transition {
	transition: none !important;
	-webkit-transition: none !important;
}

.item,
.load-more-button {
	margin-bottom: 1px;
	font-size: small;
	height: 35px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	text-align: center;
	background-color: rgba(248,248,248,0.6);
}

.load-more-button {
	font-size: 24px;
	padding: 3px 0;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	cursor: pointer;
}


.item:hover,
.load-more-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.item:active,
.load-more-button:active {
	background: rgba(220, 220, 220, 0.5);
	border-color: darkgray;
}

.item.clicked {
	background: rgba(220, 220, 220, 0.5);
	border-color: darkgray;
}

.item-loading{
	color: rgba(0, 0, 0, 0.35);
	position: absolute;
	font-size: 24px;
	left: 40%;
	padding-top: 3px;
}

.item:first-child {
	margin-top: 1px;
}

.item * {
	vertical-align: middle;
	display: inline-block;
}

.item .left {
	float: left;
}
.item .right {
	padding: 8px 0;
	position: absolute;
	right: 6px;
}
.item label.name {
	word-break: break-all;
	font-size: medium;
}
.item label.files {
	width: 55px;
}

.item label.size {
	width: 100px;
}

.item label.modified {
	width: 140px;
}

.view-mode .item label.delete {
	display: none;
}

.edit-mode .item label.delete {
	width: 15px;
	z-index: 999;
	border: 1px solid;
	border-radius: 10px;
	background-color: rgba(235,235,235, 0.3);
	padding: 2px;
}

.empty-list {
	padding: 0 5px;
	line-height: 30px;
	display: block;
	background: rgba(255, 255, 255, 0.3);
}

.error {
	line-height: 30px !important;
	padding: 5px !important;
	font-size: small !important;
	background: lightcoral !important;
}
.error-reason {
	border: 1px solid black !important;
	border-radius: 5px !important;
	padding: 2px !important;
	background: white !important;
	color: black !important;
}
.error-reason:hover {
	background: #ff0000 !important;
	color: white !important;
	border-color: white !important;
}

.menu-files .div-button,
.menu-containers .div-button {
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	position: relative;
	background-color: rgba(0, 0, 0, 0.19);
	padding-top: 5px;
	font-size: 14px;
	font-family: arial;
}
.menu-files .div-button img,
.menu-containers .div-button img {
	vertical-align: middle;
	margin-right: 5px;
}
.menu-files .div-button span,
.menu-containers .div-button span {
	vertical-align: middle;
}

.item-menu {
	background: rgba(141, 140, 140, 0.29);
	padding: 5px;
	margin: 1px;
}

.item-menu menu button,
.item-confirm-delete button {
	height: 30px;
	padding-left: 23px;
	padding-right: 5px;
	background: #F3F3F3 no-repeat 5px 7px;
	border: solid 1px transparent;
	margin: 1px;
}

.item-menu menu button:hover,
.item-confirm-delete button:hover {
	outline: #dcdcdc 2px solid;
	background-color: white;
	border: outset 1px;
}
.item-menu menu button:active,
.item-confirm-delete button:active {
	background-color: #d3d3d3;
	outline: none;
	border: inset 1px;
}

.item-menu .execute-button {
	background-image: url('../img/execute.png');
}
.item-menu .open-button {
	background-image: url('../img/arrowright.png');
	background-position: 5px 6px !important;
}
.item-menu .edit-button {
	background-image: url('../img/pencil.png');
}
.item-menu .board-button {
	background-image: url('../img/board.png');
}
.item-menu .download-button {
	background-image: url('../img/download.png');
	background-position: 5px 6px !important;
}
.item-menu .delete-button,
.item-menu .remove-button {
	background-image: url('../img/delete.png');
	background-position: 5px 6px !important;
}
.item-menu .copy-button {
	background-image: url('../img/copy.png');
}
.item-menu .metadata-button {
	background-image: url('../img/metadata.png');
	background-position: 5px 6px !important;
}
.item-menu .rights-button {
	background-image: url('../img/rights.png');
}
.item-menu .type-button {
	background-image: url('../img/file_type.png');
	background-position: 5px 5px !important;
}

.item-confirm-delete {
	height: 32px;
	background-color: rgba(255, 153, 153, 0.8);
	margin: 1px;
	opacity: 0.8;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
}

.item-confirm-delete button {
	background-image: url('img/delete.png');
	background-position: 5px 6px !important;
}


.dialog {
	transition: all 0.1s;
	vertical-align: middle;
	background: rgba(235,235,235,0.8);
	padding: 5px;
	text-align: center;
}

.menu-file {
	text-align: left !important;
	padding: 0 !important;
}

.menu-file button {
	height: 30px;
	padding-left: 24px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: 5px 6px;
	border: solid 1px transparent;
	margin: 1px;
	background-color: transparent;
	vertical-align: middle;
}

.menu-file .selected {
	background-color: rgba(0, 0, 0, 0.35);
}

.menu-file button:disabled {
	opacity: 0.3;
}

.menu-file button:enabled:hover {
	background-color: rgba(0, 0, 0, 0.35);
}
.menu-file button:enabled:active {
	background-color: rgba(0, 0, 0, 0.35);
}

.menu-file button.undo {
	background-image: url('img/undo.png');
}

.menu-file button.redo {
	background-image: url('img/redo.png');
}

.menu-file button.save {
	background-image: url('img/save.png');
}

.menu-file button.save-as {
	background-image: url('img/save.png');
}

.input-group-table {
	background: rgba(0, 0, 0, 0.14);
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	margin: 5px;
	border-collapse: collapse;
	height: 25px;
}

.input-group-table td,
.input-group-table td * {
	vertical-align: middle;
}

.input-group-table td:first-child {
	width: 1px;
}

.input-group-table td:last-child {
	width: 1px;
	color: #5E5E5E;
	cursor: default;
	padding: 0 5px;
}

.input-group-table td input {
	width: calc(100% - 4px);
	width: -webkit-calc(100% - 2px);
	height: 20px;
	border: 0;
	margin: 2px;
}

.input-group-table td img {
	padding: 0 3px;
}

.invalid-input {
	background-color: #ffffe0 !important;
	border-bottom: 2px #fa8072 dotted !important;
}

.item-menu table {
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	margin: 10px 5px;
	padding: 5px;
	background: rgba(220, 220, 220, 0.5);
	color: rgba(0, 0, 0, 0.35);
}

.metadata-table td {
	width: calc(50% - 5px);
	width: -webkit-calc(50% - 5px);
	padding: 0;
}

.metadata-table tr td:last-child {
	width: 15px;
	cursor: default;
	text-align: center;
	font-weight: bold;
}

.metadata-table input {
	width: calc(100% - 5px);
	width: -webkit-calc(100% - 5px);
	border: none;
	padding: 2px;
	margin: 0;
	height: 20px;
}

.metadata-save,
.metadata-discard-changes,
.rights-save,
.rights-discard-changes {
	width: 120px;
	height: 30px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.19);
	color: rgba(0, 0, 0, 0.52);
	font-weight: bold;
	margin: 1px;
	border: 0;
}

.metadata-save {
	float: right;
}

.rights-table tfoot td {
	text-align: center;
}

.err-msg {
	font-size: small;
	text-align: left;
}

#report {
	background-color: rgba(220, 220, 220, 0.5);
}

#report table {
	width: 100%;
}

#report button {
	width: 100%;
}

#report td {
	font-size: small;
}

.execute-full-button {
	height: 40px;
	border: 0;
	margin-bottom: 3px;
	background: #D3D3D3;
	cursor: pointer;
	text-decoration: underline;
}

.download-link {
	color: rgba(0, 0, 0, 0.35);
}

.rights-table tr td:first-child {
	font-size: small;
	font-weight: bold;
}

.read-rights-input,
.write-rights-input {
	width: 98%;
	border: 0;
	padding: 5px;
}

.save-as-dialog {
	background: rgba(0, 0, 0, 0.14);
	width: 100%;
	border-collapse: collapse;
	height: 25px;
	margin: 0;
}

.CodeMirror-gutters {
	background-color: rgba(247, 247, 247, 0.9) !important;
}

.CodeMirror {
	background: rgba(255, 255, 255, 0.8) !important;
}

.billing-report-table td {
	text-align: center;
	height: 35px;
}

#billing-tbody tr:nth-child(even) {
	background: rgba(255,255,255,0.5);
}

#billing-tbody tr:nth-child(odd) {
	background: rgba(184, 184, 184, 0.7);
}

#billing-tbody tr td:first-child {
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}

.execute-report-part-name,
#node-number-tr {
	font-weight: bold;
}

.auto-created-report-td {
	border: none !important;
}

template {
	display: none;
}